example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MLPExperiment" type="MLPExperimentType">
        <xs:annotation>
            <xs:documentation>MLP configuration file generated by Machine Learning Platform</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MLPExperimentTypeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="MLPDSParamType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="Value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="MLPDatasetType">
        <xs:sequence>
            <xs:element type="MLPExperimentTypeType" name="MLPExperimentType"/>
            <xs:element type="MLPDSParamType" name="MLPDSParam" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="DSFormat"/>
        <xs:attribute type="xs:string" name="DSID"/>
        <xs:attribute type="xs:string" name="Name"/>
        <xs:attribute type="xs:string" name="Path2Stem"/>
    </xs:complexType>
    <xs:complexType name="MLPDatasetsType">
        <xs:sequence>
            <xs:element type="MLPDatasetType" name="MLPDataset"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MLPSubParamType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="Value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="MLPParamType" mixed="true">
        <xs:sequence>
            <xs:element type="MLPSubParamType" name="MLPSubParam" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>elementy mozliwosci: standard, distributed, hybrid mozliwosci: normal,
                        constselection mozliwosci: normal, random czy m_mpiParallelInit ? 0 nie, >0 tak MC???
                        mozliwosci: 1 i wiecej co ile
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="Value" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MLPClassifierType">
        <xs:sequence>
            <xs:element type="MLPParamType" name="MLPParam" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>[ sum | division ] alfa * size 0.005 maximizing fitness by prunning 0 - prob. for
                        a single node; 1 - prob. for the whole tree enlarging the margin of the best tree branches
                        swapped in random order subtrees swapped tests swapped tests between father and son exchanged
                        tests swapped assymetric tests between father and son exchanged symmetric mutation 20 Test in
                        node changed Node changed into leaf threshold in real outcome test changed 20 [add branche]
                        [merge branches] [move value between branches] [Mixed dipol cut] 0 [Pure dipol joined] 0 Leaf
                        changed into node Leaf expanded into subtree
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="CLID"/>
        <xs:attribute type="xs:string" name="Name"/>
    </xs:complexType>
    <xs:complexType name="MLPClassifiersType">
        <xs:sequence>
            <xs:element type="MLPClassifierType" name="MLPClassifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MLPClassificationType">
        <xs:sequence>
            <xs:element type="MLPDatasetsType" name="MLPDatasets"/>
            <xs:element type="MLPClassifiersType" name="MLPClassifiers"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="OutputFolder"/>
        <xs:attribute type="xs:string" name="Runs"/>
        <xs:attribute type="xs:string" name="LogLevel"/>
    </xs:complexType>
    <xs:complexType name="MLPExperimentType">
        <xs:sequence>
            <xs:element type="MLPClassificationType" name="MLPClassification">
                <xs:annotation>
                    <xs:documentation>wszystko zapisuje do OutputFolder: ControlFile, OutputFiles</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="Description"/>
    </xs:complexType>
</xs:schema>